<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Home</h2>
        <h3 class="section-subheading text-muted"><br><br>Hello <strong>{{ main.username || "Guest" }}, </strong><br> Welcome to the Faat Bookstore Application.</h3>
    </div>
</div>
