<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">User Login</h2>
        <h3 class="section-subheading text-muted">Please enter your login information.</h3>
    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" ng-submit="main.doLogin(loginData);" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Username Input -->
                            <div class="form-group">
                                <label>Username:</label>
                                <input ng-disabled="main.disabled" class="form-control" type="text" name="username" placeholder="username *" ng-model="main.loginData.username" autocomplete="off">
                            </div>
                            <!-- Password Input -->
                            <div class="form-group">
                                <label>Password:</label>
                                <input ng-disabled="main.disabled" class="form-control" type="password" name="password" placeholder="password *" ng-model="main.loginData.password">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-left">
                            <div>
                                <br><p>For Test, username: kenzicalianna, Password: PAssword123!@#</p><br>
                                <a href="/resetpassword">
                                    <button ng-disabled="main.disabled" type="button" class="btn btn-danger">Forgot Password</button>
                                </a>
                                <a href="/resetusername">
                                    <button ng-disabled="main.disabled" type="button" class="btn btn-info">Forgot Username</button>
                                </a>
                            </div>
                            <br>
                            <div id="success"></div>
                            <!-- Login Button -->
                            <button type="submit" ng-disabled="main.disabled" class="btn btn-xl">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- Loading Icon (Bootstrap) -->
        <div class="jumbotron text-center" ng-show="main.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Loading....</p>
        </div>
        <!-- Loading Icon (Bootstrap) -->

        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="main.successMsg || main.errorMsg">
            <div ng-class="alert">{{ main.successMsg || main.errorMsg }}</div>&nbsp
            <a ng-show="main.expired" href="/resend">
                <!-- Button to Resend an Activation Link -->
                <button type="button" class="btn btn-success">Resend Activation Link</button>
            </a>
        </div>
        <!-- Custom Messages -->

    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->
