<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Main Angular Files -->
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/angular-route.js"></script>
    <script src="assets/js/angular-animate.js"></script>

    <!-- Angular Config/Routes -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>

    <!-- Angular Controllers -->
    <script src="app/controllers/userCtrl.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/emailCtrl.js"></script>

    <!-- Angular Services -->
    <script src="app/services/userServices.js"></script>
    <script src="app/services/authServices.js"></script>

    <!-- Cascade Style Sheets -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">

    <title>Faat Bookstore</title>

        
</head>

<body ng-app="userApp" ng-controller="mainCtrl as main" ng-show="main.loadme" ng-cloak>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/" alt="Faat Bookstore"><img src="assets/images/faatbookstore-logo.png" width="32%" style="margin-top: -10px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="">
                        <a ng-show="main.isLoggedIn" class="page-scroll" href="/">Hello {{ main.username }}</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="/searchbook" target="_blank">Search</a>
                    </li>
                    <li class="">
                        <a ng-show="!main.isLoggedIn" class="page-scroll" href="/login">Login</a>
                    </li>
                    <li class="">
                        <a ng-show="!main.isLoggedIn" class="page-scroll" href="/register">Register</a>
                    </li>
                    <li class="">
                        <a ng-show="main.isLoggedIn" class="page-scroll" href="#" ng-click="main.logout();">Logout</a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header ng-show="main.home">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">― Dr. Seuss, I Can Read With My Eyes Shut!</div>
                <div class="intro-heading">"The more that you read, the more things you will know. The more that you learn, the more places you'll go."</div>
                <a ng-show="!main.isLoggedIn" href="/login" class="page-scroll btn btn-xl">Sign In</a>
                <a ng-show="!main.isLoggedIn" href="/register" class="page-scroll btn twitterbtn">Register</a>
                <a ng-show="main.isLoggedIn" href="#" ng-click="main.logout();" class="page-scroll btn btn-xl">Logout</a>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">

                <!-- Angular View -->
                <div ng-view></div>
                <!-- Angular View -->

            </div>
        </div>
    </section>

    <footer ng-show="main.home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">© 2018</span><br>
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- BootstrapJS Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-hide="main.hideButton" type="button" ng-click="main.endSession();" class="close" data-dismiss="modal">&times;</button>
                    <!-- Modal Header -->
                    <h4 class="modal-title">{{ main.modalHeader }}</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p>{{ main.modalBody }}</p>
                    <!--aaa<div ng-show="main.hideButton" class="dizzy-gillespie"></div>aaa-->
                    <center><img src="assets/images/rocket.gif" width="100%"> </center>
                </div>
                <div class="modal-footer">
                    <!-- Modal 'Yes' & 'No' Buttons -->
                    <button type="button" ng-hide="main.hideButton" ng-click="main.renewSession();" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <button type="button" ng-hide="main.hideButton" ng-click="main.endSession();" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
    <!-- BootstrapJS Modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>
