 <!DOCTYPE html>  
 <html>  
 <head>  
  <meta charset="utf-8">  
  <title>EJS</title>  
 </head>  
 <body>  
 <h1><%= title %></h1>  
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quod, praesentium dolor velit culpa cupiditate odio nihil voluptates aliquid eum dolore eligendi quas nobis nam nesciunt odit pariatur minus cum.</p>  
 <ul>  
 <!--% for(var i=0; i<users.length; i++) {%>  -->
 <!-- <li>%= users[i] %></li>  -->
 <!--% } %>  -->
 
 
 <% for(var i in books_list){ %>
            <li>
                <a href="mailto:<%=books_list[i].author%>">
                    <%=books_list[i].title%>
                </a>
            </li>
<% } %>
            
 </ul>  
 </body>  
 </html>  