<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Main Angular Files -->
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/angular-route.js"></script>
    <script src="assets/js/angular-animate.js"></script>

    <!-- Angular Config/Routes -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>

    <!-- Angular Controllers -->
    <script src="app/controllers/userCtrl.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/emailCtrl.js"></script>

    <!-- Angular Services -->
    <script src="app/services/userServices.js"></script>
    <script src="app/services/authServices.js"></script>

    <!-- Cascade Style Sheets -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">

    <title>Faat Bookstore</title>

        
</head>

<body ng-app="userApp" ng-controller="mainCtrl as main" ng-show="main.loadme" ng-cloak>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/" alt="Faat Bookstore" target="_blank"><img src="assets/images/faatbookstore-logo.png" width="32%" style="margin-top: -10px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="">
                        <a ng-show="main.isLoggedIn" class="page-scroll" href="/" target="_blank">Hello {{ main.username }}</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="/" target="_blank">Home</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="/searchbook">Search</a>
                    </li>
                    <li class="">
                        <a ng-show="!main.isLoggedIn" class="page-scroll" href="/login" target="_blank">Login</a>
                    </li>
                    <li class="">
                        <a ng-show="!main.isLoggedIn" class="page-scroll" href="/register" target="_blank">Register</a>
                    </li>
                    <li class="">
                        <a ng-show="main.isLoggedIn" class="page-scroll" href="#" ng-click="main.logout();">Logout</a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->



    <section id="services">
        <div class="container">
            <div class="row">
                
<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Search Book</h2>
        <h3 class="section-subheading text-muted">This page allows you to perform a search of title or author, then can save to favourite.</h3>
    </div>
</div>
<!-- Heading -->

        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                
                <form action="/search-list" method="POST">
                <p style="height: 20px; font-size: 24px;"> 
                    <span>Search By : </span>
                    <input type="radio" name="foobar" value="title" checked> Title
                    <input type="radio" name="foobar" value="author">  Author</p><br><br>
                    <input type="text" name="search_text" placeholder="Enter Search Text" class="form-control" required style="height: 70px; font-size: 24px;"><br>
                    <button class="btn btn-warning btn-md" type="submit" style="height: 70px; font-size: 24px;">Submit</button>
                </form>

            </div>
        </div>
        
                <!-- Angular View -->
                <div ng-view  class="ng-hide"></div>
                <!-- Angular View -->

            </div>
        </div>
    </section>
    
    
    <!-- BootstrapJS Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-hide="main.hideButton" type="button" ng-click="main.endSession();" class="close" data-dismiss="modal">&times;</button>
                    <!-- Modal Header -->
                    <h4 class="modal-title">{{ main.modalHeader }}</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p>{{ main.modalBody }}</p>
                    <!--aaa<div ng-show="main.hideButton" class="dizzy-gillespie"></div>aaa-->
                    <center><img src="assets/images/rocket.gif" width="100%"> </center>
                </div>
                <div class="modal-footer">
                    <!-- Modal 'Yes' & 'No' Buttons -->
                    <button type="button" ng-hide="main.hideButton" ng-click="main.renewSession();" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <button type="button" ng-hide="main.hideButton" ng-click="main.endSession();" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
    <!-- BootstrapJS Modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>

</html>